// @use "../../../../index.scss";

.mainContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
  .routeAllList {
    display: flex;
    background-color: $gold-color;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 0.5rem;
    inline-size: max-content;
    padding: 0.5rem 0.7rem;
    img {
      transform: rotate(-90deg);
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    button {
      font-family: sansx100;
      border-radius: 0.5rem;
      border: none;
      font-size: 0.8rem;
      cursor: pointer;
      background-color: transparent;
    }
    > button:nth-child(2) {
      inline-size: max-content;
      color: $white-color;
      padding: 0.5rem 1rem;
      background-color: $red-color;
    }
  }
}

.body {
  // padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 700px;
}
.mySwiper {
  width: 100%;
  > div {
    // gap: 1rem;
    border-radius: 1.2rem;
  }
}
.swiperActors {
  padding: 0.5rem;
  border-radius: 1.2rem;
  height: min-content !important;
  .listMovie {
    display: flex;
    direction: rtl;
    padding: 0.5rem;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 15px 3px $black-color;
    > img {
      height: 11rem;
      border-radius: 1rem;
    }
  }
  .detailMovie {
    // padding: 0 1rem;
    padding-right: 0.6rem !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    > h2 {
      color: $white-color;
      font-family: sansx100;
      font-size: 1.2rem;
    }
    .votes {
      padding-bottom: 1.1rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      p {
        white-space: nowrap;
        color: $gold-color;
        font-family: sansx100;
        font-size: 0.9rem;
        span {
          color: $white-color;
          font-size: 0.8rem;
        }
      }
    }
    > button {
      width: fit-content;
      padding: 0.5rem 1rem;
      border: none;
      font-family: iransans;
      background: linear-gradient(45deg, $stblue-in, $stblue-out);
      cursor: pointer;
      color: $white-color;
      border-radius: 1rem 0 1rem 0;
    }
  }
  .optionSetup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white-color;
    > button {
      border: none;
      padding: 0.5rem 1rem;
      font-family: iransans;
      background: linear-gradient(45deg, $stred-in, $stred-out);
      color: $white-color;
      border-radius: 1rem 0 1rem 0;
    }
    > p {
      font-size: 0.8rem;
    }
  }
}

.addstarshow {
  display: flex;
  gap: 0.5rem;
  position: relative;
  align-items: center;
  width: fit-content;
  > img {
    cursor: pointer;
    width: 1.2rem;
  }
  .textPoint {
    color: $stblue-in !important;
    width: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90px;
    transition: 0.5s;
    font-size: 0.8rem !important;
  }
  .textPointverse {
    position: absolute;
    top: -2px;
    right: 60px;
  }
  .textPointnone {
    color: $stblue-in !important;
    font-size: 0.6rem !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90px;
    transition: 0.5s;
  }
  .textPointnoneverse {
    position: absolute;
    top: -5px;
    right: 70px;
    transition: 0.5s;
  }
}

@keyframes openStars {
  0% {
    width: 0%;
  }
  100% {
    width: 76%;
  }
}
.yourRate {
  // left: 0;
  animation: openStars 3s forwards ease;
  overflow: hidden;
  display: flex;
  > p {
    font-size: 1rem;
    margin-right: 0.4rem;
  }
  > div {
    display: flex;
    height: 2rem;
    align-items: center;
    img {
      width: 1.4rem;
      padding: 0.1rem;
    }
  }
  .numberStar {
    display: flex;
    align-items: center;
    height: 2.5rem;
    > p {
      margin-right: 0.5rem;
      width: 3rem;
      color: $gold-color;
    }
    > div {
      display: flex;
    }
  }
}

.sabt {
  color: white !important;
  cursor: pointer;
}

@media (max-width: 575px) {
  .swiperActors {
    .listMovie {
      position: relative;
      .optionSetup {
        position: absolute;
        left: 9px;
        align-items: flex-end;

        height: 100%;
        > button {
          width: min-content;
          inline-size: max-content;
        }
        > p {
          width: 70px;
          position: absolute;
          bottom: 15px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .body {
    height: 580px;
  }
}

@media (max-width: 435px) {
  .mainContainer {
    .header {
      flex-direction: column;
      gap: 0.4rem;
      align-items: flex-end;
    }
  }
  .swiperActors {
    .listMovie {
      background-position: right !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      .detailMovie {
        .votes {
          > p {
            font-size: 0.7rem;
            > span {
              font-size: 0.7rem;
            }
          }
        }
      }
      > img {
        height: 0;
      }
    }
  }
}
