// @use "../../../../index.scss";

.mainContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
  .routeAllList {
    display: flex;
    background-color: $gold-color;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 0.5rem;
    inline-size: max-content;
    padding: 0.5rem 0.7rem;
    img {
      transform: rotate(-90deg);
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    button {
      font-family: sansx100;
      border-radius: 0.5rem;
      border: none;
      font-size: 0.8rem;
      cursor: pointer;
      background-color: transparent;
    }
    > button:nth-child(2) {
      inline-size: max-content;
      color: $white-color;
      padding: 0.5rem 1rem;
      background-color: $red-color;
    }
  }
}

.body {
  // padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 700px;
}
.mySwiper {
  width: 100%;
  > div {
    // gap: 1rem;
    border-radius: 1.2rem;
  }
}
.swiperActors {
  padding: 0.5rem;
  border-radius: 1.2rem;
  height: min-content !important;
  .listMovie {
    display: flex;
    direction: rtl;
    padding: 0.5rem;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 15px 3px $black-color;
    > img {
      height: 11rem;
      border-radius: 1rem;
    }
  }
  .detailMovie {
    // padding: 0 1rem;
    padding-right: 0.6rem !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    > h2 {
      color: $white-color;
      font-family: sansx50;
    }
    .votes {
      padding-bottom: 1.1rem;
      p {
        color: $gold-color;
        font-family: sansx100;
        font-size: 0.9rem;
        span {
          color: $white-color;
          font-size: 0.8rem;
        }
      }
    }
    > button {
      width: fit-content;
      padding: 0.5rem 1rem;
      border: none;
      font-family: iransans;
      background: linear-gradient(45deg, $stblue-in, $stblue-out);
      cursor: pointer;
      color: $white-color;
      border-radius: 1rem 0 1rem 0;
    }
  }
  .optionSetup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white-color;
    > button {
      border: none;
      padding: 0.5rem 1rem;
      font-family: iransans;
      background: linear-gradient(45deg, $stred-in, $stred-out);
      color: $white-color;
      border-radius: 1rem 0 1rem 0;
    }
    > p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 575px) {
  .swiperActors {
    .listMovie {
      position: relative;
      .optionSetup {
        position: absolute;
        left: 9px;
        align-items: flex-end;

        height: 100%;
        > button {
          width: min-content;
          inline-size: max-content;
        }
        > p {
          width: 70px;
          position: absolute;
          bottom: 15px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .body {
    height: 580px;
  }
}

@media (max-width: 435px) {
  .mainContainer {
    .header {
      flex-direction: column;
      gap: 0.4rem;
      align-items: flex-end;
    }
  }
  .swiperActors {
    .listMovie {
      background-position: right !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      .detailMovie {
        .votes {
          > p {
            font-size: 0.7rem;
            > span {
              font-size: 0.7rem;
            }
          }
        }
      }
      > img {
        height: 0;
      }
    }
  }
}
