// @use "../../../../index.scss";
/* انتخاب اسکرول بار */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-color;
  border-radius: 6px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: $white-color transparent;
}

.mainBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

  .posterBox {
    height: 100%;
  }

  .shodowMainBox {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.779), rgba(0, 0, 0, 0.917), rgb(0, 0, 0));
    background: linear-gradient(270deg, #0a0d10 30%, #0a0d10 50%, rgba(10, 13, 16, 0));
    position: absolute;
    bottom: 0;
  }

  .arrowIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    transform: rotate(-90deg);
    filter: invert(100%) sepia(98%) saturate(9%) hue-rotate(167deg) brightness(104%) contrast(103%);
    cursor: pointer;
    z-index: 4;
  }
}

.yourPointAlert {
  font-size: 0.9rem;
}

.yourNomreAlert {
  font-size: 0.7rem;
}

.swiperActors {
  width: 100px !important;
}

.detailMovie {
  height: 100%;
  position: absolute;
  top: 5px;
  right: 0px;
  width: 400px;
  color: $white-color;
  padding: 0.2rem 1rem;
  direction: rtl;
  font-family: sansx100;

  >h1 {
    font-size: 2rem;
    color: $gold-color;
    font-family: iransans;
    padding: 0.5rem;
    white-space: nowrap;
  }

  .timeandsec {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;

    p {
      white-space: nowrap;
    }
  }

  .boxDetMovie {
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem 1rem 1.5rem;

    >p:first-child {
      color: $gold-color;
    }

    .textDetailMovie {
      font-size: 0.9rem;
      font-family: sansx50;
      font-weight: normal;
      margin-top: 0.5rem;
    }
  }

  .yourRate {
    >p {
      font-size: 1rem;
    }

    >div {
      display: flex;
      height: 2rem;
      align-items: center;

      img {
        width: 2.5rem;
        padding: 0.3rem;
      }
    }

    .numberStar {
      display: flex;
      align-items: center;
      height: 2.5rem;

      >p {
        margin-right: 0.5rem;
        width: 3rem;
        color: $gold-color;
      }

      >div {
        display: flex;
      }
    }
  }
}

.subandpop {
  display: flex;
  gap: 0.5rem;
  // background-color: gainsboro;
  cursor: pointer;
  width: fit-content;

  // background-color: rgba(255, 217, 0, 0.443);
  >p {
    color: $gold-color;
    font-size: 0.9rem;
  }

  >img {
    width: 4rem;
  }
}

.whatchlist {
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: sansx200;
  text-decoration: none;
  color: #0a0d10;
  background: linear-gradient(45deg, $stblue-in, $stblue-out);
  cursor: pointer;
  font-size: 0.6rem;
}

.rateRightPage {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.boxBazigaran {
  padding: 0.5rem;
  color: $gold-color;
  position: absolute;
  bottom: 160px;
}

.imageActors {
  display: flex;
  gap: 1rem;
  height: 160px;
  padding: 1rem 0.5rem;
  overflow: auto;
  width: 340px;
  position: absolute;
  bottom: 0;

  img {
    border-radius: 1rem;
    cursor: pointer;
    width: 80px;
  }
}

.loadingGif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  >img {
    width: 12rem;
  }
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 4.8rem;
  color: $white-color;
  font-family: sansx200;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

.breackTopIntext {
  color: $gold-color;
  font-size: 1.2rem;
  border-radius: 1rem;
}

@media (max-width: 500px) {
  .mainBox {
    .shodowMainBox {
      background: linear-gradient(270deg, #0a0d10e8 30%, #0a0d10de 50%, rgb(0 0 0 / 56%));
    }
  }

  .detailMovie {
    .boxDetMovie {
      padding: 1rem 0.5rem 1rem 0.5rem;

      >p:last-child {
        height: 100px;
        width: 95%;
        overflow: auto;
        padding: 0 0.5rem;
      }
    }
  }

  .detailMovie {
    padding: 0.4rem;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .mainBox {
    .shodowMainBox {
      background: linear-gradient(270deg, #0a0d10e8 30%, #0a0d10de 50%, rgb(0 0 0 / 56%));
    }
  }

  .detailMovie {
    >h1 {
      font-size: 1.1rem;
      font-family: iransans;
    }

    .timeandsec {
      .breackTopIntext {
        display: none;
      }

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      text-align: center;
      // align-items: center;
    }

    .boxDetMovie {
      padding: 1rem 0.5rem 1rem 0.5rem;

      >p:last-child {
        height: 100px;
        width: 95%;
        overflow: auto;
        padding: 0 0.5rem;
      }
    }
  }

  .detailMovie {
    padding: 0.4rem;
    width: 100%;
  }
}

.three_body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #00ddd2;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three_body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three_body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three_body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three_body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three_body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three_body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three_body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three_body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.loadwave {
  animation: wavetoshow 3.5s 1s forwards;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

@keyframes wavetoshow {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
    visibility: visible;
  }
}