@use "../../../../index.scss";
.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 4.8rem;
  color: white;
  font-family: sansx200;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}
.containerBackimg {
  position: absolute;
  top: 0;
  height: 1050px;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.757), rgba(32, 32, 32, 0.639), rgba(71, 71, 71, 0.468), rgba(0, 160, 120, 0.5));
  }
  .backImg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
}

.actorBox {
  position: absolute;
  padding: 2rem;
  direction: rtl;
}

.actorDet {
  display: flex;
  padding: 0 0 3rem 0;
  gap: 1rem;
  > img {
    height: 17rem;
    border-radius: 0.7rem;
    border: solid white 1px;
  }
}
.actorNameBorn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 2px solid white;
  font-size: 1.7rem;
  color: white;
  font-family: sansx100;
  > p:first-child {
    font-size: 2rem;
  }
  > p:last-child {
    font-size: 1.3rem;
  }
  > p:nth-child(2) {
    flex-grow: 1;
    font-size: 1.5rem;
  }
}

.biography {
  font-size: 1.2rem;
  font-family: iransans;
  padding-bottom: 1rem;
  > p {
    padding: 1rem 2rem;
    height: 230px;
    overflow: auto;
    background-color: rgba(255, 166, 0, 0);
    border-radius: 5px;
    color: white;
  }
}

.knownby {
  font-size: 1.2rem;
  font-family: iransans;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  > h2 {
    padding-bottom: 1rem;
  }
  .knownmovies {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.33%;
      overflow: hidden;
      gap: 0.6rem;
      cursor: pointer;
      > img {
        width: 8rem;
        border-radius: 1rem;
        &:hover {
          transition: 0.3s all;
        }
      }
      > p {
        height: 4rem;
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
}
