@use "../../../../index.scss";
/* انتخاب اسکرول بار */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}
.mainBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  .posterBox {
    height: 100%;
  }
  .shodowMainBox {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.779), rgba(0, 0, 0, 0.917), rgb(0, 0, 0));
    background: linear-gradient(270deg, #0a0d10 30%, #0a0d10 50%, rgba(10, 13, 16, 0));
    position: absolute;
    bottom: 0;
  }
  .arrowIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    transform: rotate(-90deg);
    filter: invert(100%) sepia(98%) saturate(9%) hue-rotate(167deg) brightness(104%) contrast(103%);
    cursor: pointer;
  }
}

.swiperActors {
  width: 100px !important;
}

.detailMovie {
  position: absolute;
  top: 25px;
  right: 0;
  width: 400px;
  color: white;
  padding: 0.2rem 1rem;
  direction: rtl;
  font-family: sansx100;
  > h1 {
    font-size: 2rem;
    color: rgb(255, 174, 0);
    font-family: iransans;
    padding: 0.5rem;
  }
  .timeandsec {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
  }
  .boxDetMovie {
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem 1rem 1.5rem;
    > p:first-child {
      color: rgb(255, 183, 0);
    }
    .textDetailMovie {
      font-size: 0.9rem;
      font-family: sansx50;
      font-weight: normal;
      margin-top: 0.5rem;
    }
  }
  .yourRate {
    > p {
      font-size: 1rem;
    }
    > div {
      display: flex;
      height: 2rem;
      align-items: center;
      img {
        width: 1.5rem;
        padding: 0.3rem;
      }
    }
    .numberStar {
      display: flex;
      align-items: center;
      height: 3rem;
      > p {
        margin-right: 0.5rem;
        width: 3rem;
        color: rgb(255, 183, 0);
      }
      > div {
        display: flex;
      }
    }
  }
}
.subandpop {
  display: flex;
  gap: 0.5rem;
  > p {
    color: rgb(255, 183, 0);
  }
}
.whatchlist {
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: sansx200;
  text-decoration: none;
  color: #0a0d10;
  background: linear-gradient(45deg, rgb(109, 255, 248), rgb(0, 158, 169));
  cursor: pointer;
  font-size: 0.6rem;
}

.rateRightPage {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.boxBazigaran {
  padding: 0.5rem;
  color: rgb(255, 183, 0);
}

.imageActors {
  display: flex;
  gap: 1rem;
  height: 160px;
  padding: 1rem 0.5rem;
  overflow: auto;
  width: 340px;
  img {
    border-radius: 1rem;
    cursor: pointer;
    width: 80px;
  }
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 4.8rem;
  color: white;
  font-family: sansx200;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

.breackTopIntext {
  color: rgb(255, 183, 0);
  font-size: 1.2rem;
  border-radius: 1rem;
}

@media (max-width: 500px) {
  .mainBox {
    .shodowMainBox {
      background: linear-gradient(270deg, #0a0d10e8 30%, #0a0d10de 50%, rgb(0 0 0 / 56%));
    }
  }
  .detailMovie {
    .boxDetMovie {
      padding: 1rem 0.5rem 1rem 0.5rem;
      > p:last-child {
        height: 100px;
        width: 95%;
        overflow: auto;
        padding: 0 0.5rem;
      }
    }
  }
  .detailMovie {
    padding: 0.4rem;
    width: 100%;
  }
}
