.mainConatainer {
  position: relative;
  color: white;
  font-family: sansx100;
  img {
    width: 12rem;
    border-radius: 1rem;
  }
  .showUpcoming {
    font-size: 1.8rem;
    direction: rtl;
    padding: 2rem 3rem;
    color: rgb(255, 183, 0);
  }
  .up2,
  .up1 {
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    > div {
      padding: 1rem;
      box-shadow: inset 10px 0px 30px rgb(0, 0, 0);
      > div {
        display: flex;
        align-items: center;
        transition-timing-function: linear;
      }
    }
  }
}

@media (max-width: 1115px) {
  .mainConatainer {
    .up1,
    .up2 {
      img {
        width: 10rem;
      }
    }
  }
}
@media (max-width: 720px) {
  .mainConatainer {
    .showUpcoming {
      font-size: 1.6rem;
      padding: 2rem;
    }
    .up1,
    .up2 {
      width: 90%;
      img {
        width: 8rem;
      }
    }
  }
}
