@use "../../index.scss";

.headerContainer {
  color: rgb(255, 179, 0);
  font-family: iransans;
  direction: rtl;
  padding: 0.6rem 2rem;
  margin-bottom: 1rem;
}

.imageContainer {
  width: 700px;
  margin: auto;
}
