@use "../../../index.scss";

.navbar {
  margin-top: 5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(235deg, rgb(255, 52, 52), rgb(255, 153, 0));
  border-radius: 0.9rem;
  color: white;
  font-family: sansx100;
  margin: 5rem 2rem 0 2rem;
  position: relative;
  > p {
    position: absolute;
    right: 0;
    padding: 1rem 2rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.search {
  justify-self: center;
  font-family: iransans;
  direction: rtl;
  border: none;
  padding: 0.7rem 1.6rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  width: 20rem;
  transition: all 0.3s;
  color: black;

  /* background-color: var(--color-background-900); */
  background-color: white;
  &::placeholder {
    color: var(--color-text-dark);
  }
  &:focus {
    outline: none;
    box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.numresults {
  justify-self: end;
  font-size: 1.5rem;
}

.main {
  margin-top: 2.5rem;
  // height: calc(100vh - 7.2rem - 3 * 2.4rem);
  height: 650px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 0 2rem;
  padding-bottom: 2rem;
}
