@use "../../../index.scss";

.box {
  // width: 44rem;
  // max-width: 44rem;
  // background-color: rgb(0, 84, 94);
  background-color: rgb(45, 45, 45);
  border-radius: 0.9rem;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  border: 2px solid #ffffff;
  width: 40%;
  color: white;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

.btntoggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}
.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

.list {
  list-style: none;
  padding: 0.8rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  > li {
    background-color: rgb(22, 22, 22);
    position: relative;
    // display: grid;
    // grid-template-columns: 4rem 1fr;
    // grid-template-rows: auto auto;
    // column-gap: 2.4rem;
    display: flex;
    font-size: 1.6rem;
    padding: 0.4rem;
    border-bottom: 3px solid rgb(255, 183, 0);
    border-left: 2px solid rgb(255, 183, 0);
    border-radius: 1rem 1rem 0 1rem;
    cursor: pointer;
    overflow: hidden;
  }
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 5.5rem;
  grid-row: 1 / -1;
  border-radius: 0.7rem;
}

.list h3 {
  font-size: 1.5rem;
}

.list div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
  padding-left: 1rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
}

.SearchMoviesli {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1100px) {
  .box {
    width: 100px;
  }
  .list {
    overflow: hidden;
    > li {
      img {
        width: 3.5rem;
      }
      h3 {
        font-size: 1.2rem;
        text-wrap: nowrap;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
@media (max-width: 855px) {
  .box {
    display: none;
  }
}
