.boxRight {
  border-radius: 0.9rem;
  overflow: auto;
  flex-grow: 1;
  width: 40%;
  background: linear-gradient(135deg, rgb(36 36 36 / 78%), rgba($black-color, 0.835));
  flex-grow: 1;
  border: 2px solid $white-color;
  width: 40%;
  position: relative;
}

.footerBox {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  gap: 0.3rem;
  button {
    padding: 1rem;
    width: 33.33%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
    background: linear-gradient($comp-gold, $gold-color);
    border: none;
    &:hover {
      box-shadow: 3px -3px 12px $black-color;
      transition: 0.3s all;
    }
  }
}
