// @use "../index.scss";
.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-tap-highlight-color: transparent;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  -moz-outline-style: none;
  outline: medium none;
}

.btn3d:active,
.btn3d.active {
  top: 2px;
}

.btn3d.btn-white {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.btn3d.btn-white:active,
.btn3d.btn-white.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.btn3d.btn_default {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 8px 0 0 #bebebe, 0 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.btn3d.btn_default:active,
.btn3d.btn_default.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.mainContainer {
  background: linear-gradient(90deg, rgba(69, 69, 69, 0.448), rgba(28, 28, 28, 0.646), rgba(0, 0, 0, 0.608)),
    url("../assets/loginpage/backdrop.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  .error404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: $white-color;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    > h1 {
      font-size: 4rem;
    }
    > p {
      font-family: sansx100;
      inline-size: max-content;
    }
  }
  .routeToOtherPages {
    direction: rtl;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    a,
    a:link,
    a:visited {
      text-decoration: none;
      padding: 0.4rem;
      text-align: center;
      border-radius: 0.5rem;
      text-wrap: nowrap;
    }
  }
}
