@use "../index.scss";

.mainContainer {
  background: linear-gradient(90deg, rgba(69, 69, 69, 0.448), rgba(28, 28, 28, 0.646), rgba(0, 0, 0, 0.608)),
    url("../assets/loginpage/backdrop.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  .error404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    > h1 {
      font-size: 4rem;
    }
    > p {
      font-family: sansx100;
      text-wrap: nowrap;
    }
  }
  .routeToOtherPages {
    direction: rtl;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    a,
    a:link,
    a:visited {
      text-decoration: none;
      padding: 0.4rem;
      text-align: center;
      border-radius: 0.5rem;
      text-wrap: nowrap;
    }
  }
}
