$gold-color: #ffaa00;
$comp-gold: #ffdd00;
$white-color: #f4f4f4;
$red-color: #ff4848;
$gray-color: #d0d0d0bb;
$passed-color: #adff2f;
$black-color: rgb(15, 15, 15);
$stblue-in: #00ffe1;
$stblue-out: #006c5f;
$stred-in: #ff1645;
$stred-out: #960000;
