@use "../../index.scss";
.container {
  max-width: 700px;
  margin: auto;
  display: flex;
  height: 600px;
  font-family: sansx100;
  margin-top: 70px;
  color: white;
}
.boxSignup {
  width: 40%;
  position: relative;
  transition: 0.4s all ease;
  .tableDetail {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    direction: rtl;
    gap: 1rem;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    > img {
      width: 2.8rem;
      transform: rotate(-90deg);
      filter: invert(63%) sepia(26%) saturate(7030%) hue-rotate(359deg) brightness(101%) contrast(107%);
    }
    > p {
      color: white;
    }
  }
  .filterEffect {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 28, 21, 0.651), rgba(0, 11, 17, 0.67)), url("../../assets/loginpage/backpop.jpg");
    filter: blur(4px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.boxLogin {
  width: 60%;
  position: relative;
  transition: 0.4s all ease;
  .tableDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    > img {
      width: 2.8rem;
      transform: rotate(90deg);
      filter: invert(63%) sepia(26%) saturate(7030%) hue-rotate(359deg) brightness(101%) contrast(107%);
    }
    > p {
      color: white;
    }
  }
  .filterEffect {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.629), rgba(0, 0, 0, 0.649)), url("../../assets/loginpage/backchair.jpg");
    filter: blur(3px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.signinActive {
  width: 60%;
  animation: animeClose 0.5s forwards;
}
.signinDeactive {
  width: 40%;
  animation: animeOpen 0.5s forwards;
}
.signupActive {
  width: 60%;
  animation: animeClose 0.5s forwards;
}
.signupDeactive {
  width: 40%;
  animation: animeOpen 0.5s forwards;
}

@keyframes animeOpen {
  0% {
    width: 60%;
  }
  100% {
    width: 40%;
  }
}

@keyframes animeClose {
  0% {
    width: 40%;
  }
  100% {
    width: 60%;
  }
}

@media (max-width: 660px) {
  .container {
    background-color: black;
    position: relative;
    margin-top: 0;
  }

  .signinActive {
    // width: 100% !important;
    animation: animeCloseMob 0.5s forwards !important;
  }
  .signinDeactive {
    // width: 0% !important;
    animation: animeOpenMob 0.5s forwards !important;
  }
  .signupActive {
    // width: 100% !important;
    animation: animeCloseMob 0.5s forwards !important;
  }
  .signupDeactive {
    // width: 0% !important;
    animation: animeOpenMob 0.5s forwards !important;
  }
  .boxLogin {
    position: static;
    .tableDetail {
      top: 20px;
      left: 72px;
      gap: 0.3rem;
      z-index: 4;
      direction: rtl;
      p {
        font-size: 1rem;
      }
      img {
        width: 1.8rem;
        transform: rotate(270deg);
      }
    }
  }
  .boxSignup {
    position: static;
    .tableDetail {
      top: 20px;
      left: 50px;
      gap: 0.3rem;
      z-index: 4;
      p {
        font-size: 1rem;
      }
      img {
        width: 1.8rem;
      }
    }
  }
}

.madewithlove {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  color: white;
  font-family: sansx100;
  font-weight: bold;
  text-transform: capitalize;
}
.madeowner {
  position: absolute;
  font-size: 0.7rem;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-family: sansx100;
}

@keyframes animeOpenMob {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes animeCloseMob {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
