@use "../../index.scss";

.mainBody {
  max-height: 120vw;
  width: 100%;
}
.backgroundLogin {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(58, 58, 58);
  background: linear-gradient(90deg, rgba(69, 69, 69, 0.448), rgba(28, 28, 28, 0.706), rgba(0, 0, 0, 0.608)),
    url("../../assets/loginpage/backdrop.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.homeIcon {
  position: absolute;
  top: -32px;
  right: 5px;
  height: auto;
  z-index: 999;
  display: flex;
  gap: 0.3rem;
  cursor: pointer;
  // > img:first-child {
  //   transform: rotate(90deg);
  //   filter: invert(69%) sepia(38%) saturate(1250%) hue-rotate(359deg) brightness(104%) contrast(105%);
  // }
  a,
  a:link,
  a:visited {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: iransans;
    color: #fefcfc !important;
  }
  img {
    width: 25px;
    filter: invert(29%) sepia(66%) saturate(2162%) hue-rotate(341deg) brightness(77%) contrast(114%);
  }
}

.container {
  max-width: 700px;
  margin: auto;
  display: flex;
  height: 580px;
  font-family: sansx100;
  transform: translateY(50px);
  padding: 0;
  color: white;
  background-color: rgba(31, 31, 31, 0.933);
  border-radius: 2rem;
  border: solid rgb(255, 255, 255) 2px;
  position: relative;
}
.boxSignup {
  width: 40%;
  position: relative;
  transition: 0.4s all ease;
  width: 100%;
  height: 100%;
  background: #5f5f5f;
  background: -webkit-linear-gradient(135deg, #4a4a4a 0%, rgba(33, 33, 33, 0.9) 50%, #000000ba 100%);
  background: linear-gradient(135deg, #4a4a4a 0%, rgba(33, 33, 33, 0.9) 50%, #000000ba 100%);
  // background: #00757c;
  // background: -webkit-linear-gradient(127deg, #00757c 0%, #00474d 50%, #001a1a 100%);
  // background: linear-gradient(127deg, #00757c 0%, #00474d 50%, #001a1a 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem 0 0 2rem;
  .tableDetail {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    direction: rtl;
    gap: 1rem;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    > img {
      width: 2.8rem;
      transform: rotate(-90deg);
      filter: invert(63%) sepia(26%) saturate(7030%) hue-rotate(359deg) brightness(101%) contrast(107%);
    }
    > p {
      color: white;
    }
  }
}

.boxLogin {
  width: 60%;
  position: relative;
  transition: 0.4s all ease;
  border-left: 2px solid;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-135deg, #4a4a4a 0%, rgba(33, 33, 33, 0.9) 50%, #000000ba 100%);
  background: linear-gradient(-135deg, #4a4a4a 0%, rgba(33, 33, 33, 0.9) 50%, #000000ba 100%);
  // background: #e50041;
  // background: -webkit-linear-gradient(212deg, #e50041 0%, #840025 50%, #3c0014 100%);
  // background: linear-gradient(212deg, #e50041 0%, #840025 50%, #3c0014 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 2rem 2rem 0;
  .tableDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    > img {
      width: 2.8rem;
      transform: rotate(90deg);
      filter: invert(63%) sepia(26%) saturate(7030%) hue-rotate(359deg) brightness(101%) contrast(107%);
    }
    > p {
      color: white;
    }
  }
}

.signinActive {
  width: 60%;
  animation: animeClose 0.5s forwards;
}
.signinDeactive {
  width: 40%;
  animation: animeOpen 0.5s forwards;
}
.signupActive {
  width: 60%;
  animation: animeClose 0.5s forwards;
}
.signupDeactive {
  width: 40%;
  animation: animeOpen 0.5s forwards;
}

@keyframes animeOpen {
  0% {
    width: 60%;
  }
  100% {
    width: 40%;
  }
}

@keyframes animeClose {
  0% {
    width: 40%;
  }
  100% {
    width: 60%;
  }
}

@media (max-width: 850px) {
  .mainBody {
    background-size: cover;
  }
}

@media (max-width: 660px) {
  .container {
    background-color: rgba(31, 31, 31, 0.933);
    position: relative;
    margin-top: 0;
    margin: 0 10px;
  }

  .signinActive {
    // width: 100% !important;
    animation: animeCloseMob 0.5s forwards !important;
  }
  .signinDeactive {
    // width: 0% !important;
    animation: animeOpenMob 0.5s forwards !important;
  }
  .signupActive {
    // width: 100% !important;
    animation: animeCloseMob 0.5s forwards !important;
  }
  .signupDeactive {
    // width: 0% !important;
    animation: animeOpenMob 0.5s forwards !important;
  }
  .boxLogin {
    position: static;
    border: none;
    border-radius: 2rem;
    .tableDetail {
      top: 20px;
      left: 72px;
      gap: 0.3rem;
      z-index: 4;
      direction: rtl;
      p {
        font-size: 1rem;
      }
      img {
        width: 1.8rem;
        transform: rotate(270deg);
      }
    }
  }
  .boxSignup {
    position: static;
    border: none;
    border-radius: 2rem;
    .tableDetail {
      top: 20px;
      left: 57px;
      gap: 0.3rem;
      z-index: 4;
      p {
        font-size: 1rem;
      }
      img {
        width: 1.8rem;
      }
    }
  }
  //   .madewithlove {
  //     bottom: 5px !important;
  //     left: 5px !important;
  //     transform: translateX(0) !important;
  //   }
  //   .madeowner {
  //     bottom: 5px !important;
  //     left: 5px !important;
  //     transform: translateX(50%) !important;
  //   }
}

.owner {
  position: relative;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.madewithlove {
  color: white;
  font-family: sansx100;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
.madeowner {
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  font-family: sansx100;
  padding: 0;
  margin: 0;
}

@keyframes animeOpenMob {
  0% {
    width: 100%;
    border-radius: 2rem;
  }
  97% {
    border-radius: 2rem;
    opacity: 0;
  }
  100% {
    width: 0%;
    border-radius: 0;
    // opacity: 1;
  }
}

@keyframes animeCloseMob {
  0% {
    width: 0%;
    border-radius: 0;
  }
  3% {
    border-radius: 2rem;
  }
  100% {
    width: 100%;
    border-radius: 2rem;
    // display: none;
    // opacity: 1;
  }
}
