@use "../../index.scss";

.mainBody {
  background-color: rgb(58, 58, 58);
  height: 800px;
  background: linear-gradient(90deg, rgba(69, 69, 69, 0.448), rgb(28, 28, 28), rgb(0, 0, 0)), url("../../assets/loginpage/i.webp");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.homeIcon {
  position: absolute;
  top: -32px;
  right: 5px;
  height: auto;
  z-index: 999;
  display: flex;
  gap: 0.3rem;
  cursor: pointer;
  // > img:first-child {
  //   transform: rotate(90deg);
  //   filter: invert(69%) sepia(38%) saturate(1250%) hue-rotate(359deg) brightness(104%) contrast(105%);
  // }
  a,
  a:link,
  a:visited {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: iransans;
    color: #fefcfc !important;
  }
  img {
    width: 25px;
    filter: invert(29%) sepia(66%) saturate(2162%) hue-rotate(341deg) brightness(77%) contrast(114%);
  }
}

.container {
  max-width: 700px;
  margin: auto;
  display: flex;
  height: 600px;
  font-family: sansx100;
  transform: translateY(50px);
  padding: 0;
  color: white;
  background-color: rgba(31, 31, 31, 0.933);
  border-radius: 2rem;
  border: solid rgb(255, 255, 255) 2px;
  position: relative;
}
.boxSignup {
  width: 40%;
  position: relative;
  transition: 0.4s all ease;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgb(60, 60, 60), rgb(40, 40, 40), rgb(24, 24, 24)); // filter: blur(4px);
  // background-color: rgb(27, 27, 27);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem 0 0 2rem;
  .tableDetail {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    direction: rtl;
    gap: 1rem;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    > img {
      width: 2.8rem;
      transform: rotate(-90deg);
      filter: invert(63%) sepia(26%) saturate(7030%) hue-rotate(359deg) brightness(101%) contrast(107%);
    }
    > p {
      color: white;
    }
  }
}

.boxLogin {
  width: 60%;
  position: relative;
  transition: 0.4s all ease;
  border-left: 2px solid;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(60, 60, 60), rgb(40, 40, 40), rgb(24, 24, 24));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 2rem 2rem 0;
  .tableDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    > img {
      width: 2.8rem;
      transform: rotate(90deg);
      filter: invert(63%) sepia(26%) saturate(7030%) hue-rotate(359deg) brightness(101%) contrast(107%);
    }
    > p {
      color: white;
    }
  }
}

.signinActive {
  width: 60%;
  animation: animeClose 0.5s forwards;
}
.signinDeactive {
  width: 40%;
  animation: animeOpen 0.5s forwards;
}
.signupActive {
  width: 60%;
  animation: animeClose 0.5s forwards;
}
.signupDeactive {
  width: 40%;
  animation: animeOpen 0.5s forwards;
}

@keyframes animeOpen {
  0% {
    width: 60%;
  }
  100% {
    width: 40%;
  }
}

@keyframes animeClose {
  0% {
    width: 40%;
  }
  100% {
    width: 60%;
  }
}

@media (max-width: 850px) {
  .mainBody {
    background-size: cover;
  }
}

@media (max-width: 660px) {
  .container {
    background-color: rgba(31, 31, 31, 0.933);
    position: relative;
    margin-top: 0;
    margin: 0 10px;
  }

  .signinActive {
    // width: 100% !important;
    animation: animeCloseMob 0.5s forwards !important;
  }
  .signinDeactive {
    // width: 0% !important;
    animation: animeOpenMob 0.5s forwards !important;
  }
  .signupActive {
    // width: 100% !important;
    animation: animeCloseMob 0.5s forwards !important;
  }
  .signupDeactive {
    // width: 0% !important;
    animation: animeOpenMob 0.5s forwards !important;
  }
  .boxLogin {
    position: static;
    border: none;
    border-radius: 2rem;
    .tableDetail {
      top: 20px;
      left: 72px;
      gap: 0.3rem;
      z-index: 4;
      direction: rtl;
      p {
        font-size: 1rem;
      }
      img {
        width: 1.8rem;
        transform: rotate(270deg);
      }
    }
  }
  .boxSignup {
    position: static;
    border: none;
    border-radius: 2rem;
    .tableDetail {
      top: 20px;
      left: 57px;
      gap: 0.3rem;
      z-index: 4;
      p {
        font-size: 1rem;
      }
      img {
        width: 1.8rem;
      }
    }
  }
  //   .madewithlove {
  //     bottom: 5px !important;
  //     left: 5px !important;
  //     transform: translateX(0) !important;
  //   }
  //   .madeowner {
  //     bottom: 5px !important;
  //     left: 5px !important;
  //     transform: translateX(50%) !important;
  //   }
}

.owner {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.madewithlove {
  color: white;
  font-family: sansx100;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
.madeowner {
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  font-family: sansx100;
  padding: 0;
  margin: 0;
}

@keyframes animeOpenMob {
  0% {
    width: 100%;
    border-radius: 2rem;
  }
  97% {
    border-radius: 2rem;
    opacity: 0;
  }
  100% {
    width: 0%;
    border-radius: 0;
    // opacity: 1;
  }
}

@keyframes animeCloseMob {
  0% {
    width: 0%;
    border-radius: 0;
  }
  3% {
    border-radius: 2rem;
  }
  100% {
    width: 100%;
    border-radius: 2rem;
    // display: none;
    // opacity: 1;
  }
}
