.container {
  direction: rtl;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  padding: 0.2rem 2rem;
}
.title_login {
  font-size: 1.7rem;
}

.loginBox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .phone_login {
    position: relative;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 1rem;
      pointer-events: none;
      color: rgba(255, 255, 255, 0.523);
    }
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 1.7rem;
      padding: 0.4rem;
    }
    input {
      width: 15rem;
      padding: 0.5rem 0.5rem 0.5rem 2.2rem;
      direction: ltr;
      font-size: 1.2rem;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid rgb(255, 255, 255);
      border-radius: 0.5rem;
      &:focus {
        outline: none;
      }
    }
  }
  .password_login {
    position: relative;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 1rem;
      pointer-events: none;
      color: rgba(255, 255, 255, 0.523);
    }
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 1.7rem;
      padding: 0.4rem;
    }
    input {
      width: 15rem;
      padding: 0.5rem;
      font-size: 1.2rem;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid rgb(255, 255, 255);
      border-radius: 0.5rem;
      padding: 0.5rem 0.5rem 0.5rem 2.2rem;
      direction: ltr;
      &:focus {
        outline: none;
      }
    }
  }
  .submitLogin {
    font-family: sansx100;
    background-color: transparent;
    border-radius: 1.5rem;
    width: fit-content;
    padding: 0.2rem 2rem;
    border: none;
    font-size: 1.2rem;
    border-bottom: 3px solid white;
    cursor: pointer;
  }
}
