.container {
  direction: rtl;
  position: absolute;
  top: 15px;
  right: 50%;
  transform: translateX(50%);
  padding: 0.2rem 2rem;
  box-sizing: content-box;
}
.title_signup {
  font-size: 1.7rem;
  font-family: iransans;
  padding-top: 1.5rem;
}

.signupBox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-sizing: content-box;
  // margin-top: 4rem;
  .name_signup,
  .phone_signup,
  .password_signup,
  .uid_signup,
  .confirm_signup {
    position: relative;
    box-sizing: content-box;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.1rem 0.5rem;
      pointer-events: none;
      color: rgba(255, 255, 255, 0.523);
      transition: 0.3s all ease;
      font-size: 0.8rem;
      border-radius: 2rem 2rem 0 2rem;
      box-sizing: content-box;
    }
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 1.7rem;
      padding: 0.4rem;
      filter: invert(62%) sepia(28%) saturate(5202%) hue-rotate(1deg) brightness(101%) contrast(105%);
      box-sizing: content-box;
    }
    input {
      width: 15rem;
      padding: 0.5rem 0.5rem 0.5rem 2.2rem;
      text-align: right;
      font-size: 1rem;
      background-color: transparent;
      border: 2px solid transparent;
      border-bottom: 2px solid rgb(255, 255, 255);
      border-radius: 0.5rem;
      font-family: iransans;
      font-weight: bold;
      direction: ltr;
      box-sizing: content-box;
      color: white;
      &:focus {
        outline: none;
      }
    }
  }
  .confirm_signup {
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.3rem;
      padding: 0.4rem;
      font-size: 0.7rem;
      border-radius: 0.3rem;
      cursor: pointer;
      border: none;
      background-color: greenyellow;
      font-family: sansx200;
      box-sizing: content-box;
    }
  }
  //   .password_login {
  //     position: relative;
  //     span {
  //       position: absolute;
  //       top: 50%;
  //       transform: translateY(-50%);
  //       padding: 1rem;
  //       pointer-events: none;
  //       color: rgba(255, 255, 255, 0.523);
  //       transition: 0.3s all ease;
  //       font-size: 0.8rem;
  //     }
  //     img {
  //       position: absolute;
  //       top: 50%;
  //       transform: translateY(-50%);
  //       left: 0;
  //       width: 1.7rem;
  //       padding: 0.4rem;
  //     }
  //     input {
  //       width: 15rem;
  //       padding: 0.5rem;
  //       font-size: 1.2rem;
  //       background-color: transparent;
  //       border: none;
  //       border-bottom: 2px solid rgb(255, 255, 255);
  //       border-radius: 0.5rem;
  //       padding: 0.5rem 0.5rem 0.5rem 2.2rem;
  //       direction: ltr;
  //       &:focus {
  //         outline: none;
  //       }
  //     }
  //   }
  .submitbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    > button {
      background-color: transparent;
      border: none;
      font-family: sansx200;
      cursor: pointer;
      font-size: 0.7rem;
      color: rgb(191, 0, 0);
      box-sizing: content-box;
    }
  }
  .submitLogin {
    font-family: sansx100;
    background-color: transparent;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.2rem 1.5rem;
    border: none;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
    cursor: pointer;
    color: white;
    box-sizing: content-box;
  }
}

.errorInput {
  font-size: 0.6rem;
  position: absolute;
  top: -26px;
  left: 0;
  color: rgba(255, 31, 31, 0.965);
  border-radius: 0.5rem;
  padding: 0 0.2rem;
  font-family: sansx200;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-color: white;
    width: 0;
    height: 100%;
    border-radius: 0.2rem;
    animation: errorAnime 0.5s ease 0.5s forwards;
  }
}

@media (max-width: 382px) {
  .container {
    padding: 0;
    .signupBox {
      padding: 1.5rem 0 0 0;
    }
  }
}

@keyframes errorAnime {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
