// $main-color: orange;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light only;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: iransans;
  src: url("./assets/fonts/IRANSans_Light.ttf"); /* IE9 Compat Modes */
  src: url("./assets/fonts/IRANSans_Light.ttf?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/IRANSans_Light.ttf") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/IRANSans_Light.ttf") format("woff"),
    /* Pretty Modern Browsers */ url("./assets/fonts/IRANSans_Light.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/IRANSans_Light.ttf#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: sansx100;
  src: url("./assets/fonts/SansXregular.woff"); /* IE9 Compat Modes */
  src: url("./assets/fonts/SansXregular.woff?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/SansXregular.woff") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/SansXregular.woff") format("woff"),
    /* Pretty Modern Browsers */ url("./assets/fonts/SansXregular.woff") format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/SansXregular.woff#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: sansx50;
  src: url("./assets/fonts/SansXthin.woff"); /* IE9 Compat Modes */
  src: url("./assets/fonts/SansXthin.woff?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/SansXthin.woff") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/SansXthin.woff") format("woff"),
    /* Pretty Modern Browsers */ url("./assets/fonts/SansXthin.woff") format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/SansXthin.woff#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: sansx200;
  src: url("./assets/fonts/SansXblack.woff"); /* IE9 Compat Modes */
  src: url("./assets/fonts/SansXblack.woff?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/SansXblack.woff") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/SansXblack.woff") format("woff"),
    /* Pretty Modern Browsers */ url("./assets/fonts/SansXblack.woff") format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/SansXblack.woff#svgFontName") format("svg"); /* Legacy iOS */
}

.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-tap-highlight-color: transparent;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  -moz-outline-style: none;
  outline: medium none;
}

.btn3d:active,
.btn3d.active {
  top: 2px;
}

.btn3d.btn-white {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.btn3d.btn-white:active,
.btn3d.btn-white.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.btn3d.btn_default {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 8px 0 0 #bebebe, 0 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.btn3d.btn_default:active,
.btn3d.btn_default.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
